<!doctype html>
<html class="no-js" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проектор</title>
    <link rel="stylesheet" href="static/css/app.min.css">
  </head>
  <body>
    <header>
        <h1>Проектор</h1>
    </header>

    <div class="row">

      <aside>
        <h3>Управление</h3>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
        </ul>
      </aside>

      <article>
        <h3>Список проектов</h3>
        <p> {{repo}}
        <p>
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
        text text text  text text text  text text text  text text text  text text text  text text text  text text text
      </article>

    </div>
    <footer>
      (c) 2016 ExpressCredit
    </footer>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
